# after initial EDA, lets train xgboost model with following set of features

feature set

Course Domain
Course Type
Short Promotion
Public Holiday

In [35]:
# import necessary packages
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import numpy as np
from sklearn.metrics import *
import xgboost as xgb
%matplotlib inline
sns.set()

In [2]:
# import datasets
st = datetime.datetime.now()
train_data = pd.read_csv("../data/train.csv")
test_data = pd.read_csv("../data/test_QkPvNLx.csv")
print("total time req to load data ",datetime.datetime.now() - st)

total time req to load data  0:00:00.820740

In [17]:
input_features = ["Course_Domain","Course_Type","Short_Promotion","Public_Holiday"]
target = ["Sales"]
categorical_features = ["Course_Domain","Course_Type"]
input_cols = ["Course_Domain","Course_Type","Short_Promotion","Public_Holiday","Sales"]

## One Hot Categorical Features

### combine training and testing data before one hot encoding

In [5]:
train_data["Flag"] = "train"
test_data["Flag"] = "test"
train_test_data = pd.concat([train_data,
                            test_data])
train_test_data.shape

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  after removing the cwd from sys.path.

(548087, 12)

In [6]:
train_data.shape[0]+test_data.shape[0],train_test_data.shape

(548087, (548087, 12))

In [10]:
train_test_data.columns

Index(['Competition_Metric', 'Course_Domain', 'Course_ID', 'Course_Type',
       'Day_No', 'Flag', 'ID', 'Long_Promotion', 'Public_Holiday', 'Sales',
       'Short_Promotion', 'User_Traffic'],
      dtype='object')

In [13]:
train_data.isnull().sum()

ID                       0
Day_No                   0
Course_ID                0
Course_Domain            0
Course_Type              0
Short_Promotion          0
Public_Holiday           0
Long_Promotion           0
User_Traffic             0
Competition_Metric    1764
Sales                    0
Flag                     0
dtype: int64

In [14]:
test_data.isnull().sum()

ID                      0
Day_No                  0
Course_ID               0
Course_Domain           0
Course_Type             0
Short_Promotion         0
Public_Holiday          0
Long_Promotion          0
Competition_Metric    120
Flag                    0
dtype: int64

In [12]:
train_test_data.isnull().sum()

Competition_Metric     1884
Course_Domain             0
Course_ID                 0
Course_Type               0
Day_No                    0
Flag                      0
ID                        0
Long_Promotion            0
Public_Holiday            0
Sales                 36000
Short_Promotion           0
User_Traffic          36000
dtype: int64

In [18]:
st = datetime.datetime.now()
one_hot_train_test_data = pd.get_dummies(train_test_data,columns=categorical_features)
print("Time taken for One hot encoding ",datetime.datetime.now() - st)
one_hot_train_test_data.shape

Time taken for One hot encoding  0:00:00.175495

(548087, 17)

In [19]:
one_hot_train_test_data

,Competition_Metric,Course_ID,Day_No,Flag,ID,Long_Promotion,Public_Holiday,Sales,Short_Promotion,User_Traffic,Course_Domain_Business,Course_Domain_Development,Course_Domain_Finance & Accounting,Course_Domain_Software Marketing,Course_Type_Course,Course_Type_Degree,Course_Type_Program
0,0.007,1,1,train,1,1,1,81.0,0,11004.0,0,1,0,0,1,0,0
1,0.007,1,2,train,2,1,0,79.0,0,13650.0,0,1,0,0,1,0,0
2,0.007,1,3,train,3,1,0,75.0,0,11655.0,0,1,0,0,1,0,0
3,0.007,1,4,train,4,1,0,80.0,0,12054.0,0,1,0,0,1,0,0
4,0.007,1,5,train,5,1,0,41.0,0,6804.0,0,1,0,0,1,0,0
5,0.007,1,6,train,6,1,0,62.0,0,10395.0,0,1,0,0,1,0,0
6,0.007,1,7,train,7,1,0,122.0,1,16023.0,0,1,0,0,1,0,0
7,0.007,1,8,train,8,1,0,114.0,1,14385.0,0,1,0,0,1,0,0
8,0.007,1,9,train,9,1,0,121.0,1,16485.0,0,1,0,0,1,0,0
9,0.007,1,10,train,10,1,0,100.0,1,13377.0,0,1,0,0,1,0,0
10,0.007,1,11,train,11,1,0,86.0,1,11319.0,0,1,0,0,1,0,0
11,0.007,1,12,train,12,1,0,47.0,0,7077.0,0,1,0,0,1,0,0
12,0.007,1,13,train,13,1,0,85.0,0,11802.0,0,1,0,0,1,0,0
13,0.007,1,14,train,14,1,0,72.0,0,11130.0,0,1,0,0,1,0,0
14,0.007,1,15,train,15,1,0,74.0,0,10773.0,0,1,0,0,1,0,0
15,0.007,1,16,train,16,1,0,76.0,0,12411.0,0,1,0,0,1,0,0
16,0.007,1,17,train,17,1,0,53.0,0,8463.0,0,1,0,0,1,0,0
17,0.007,1,18,train,18,1,0,61.0,0,9114.0,0,1,0,0,1,0,0
18,0.007,1,19,train,19,1,0,42.0,0,6363.0,0,1,0,0,1,0,0
19,0.007,1,20,train,20,1,0,51.0,0,8547.0,0,1,0,0,1,0,0
20,0.007,1,21,train,21,1,0,114.0,1,13902.0,0,1,0,0,1,0,0
21,0.007,1,22,train,22,1,0,104.0,1,13776.0,0,1,0,0,1,0,0
22,0.007,1,23,train,23,1,0,107.0,1,14490.0,0,1,0,0,1,0,0
23,0.007,1,24,train,24,1,0,92.0,1,12222.0,0,1,0,0,1,0,0
24,0.007,1,25,train,25,1,0,82.0,1,10962.0,0,1,0,0,1,0,0
25,0.007,1,26,train,26,1,0,39.0,0,6363.0,0,1,0,0,1,0,0
26,0.007,1,27,train,27,1,0,80.0,0,11256.0,0,1,0,0,1,0,0
27,0.007,1,28,train,28,1,0,63.0,0,10248.0,0,1,0,0,1,0,0
28,0.007,1,29,train,29,1,0,61.0,0,9996.0,0,1,0,0,1,0,0
29,0.007,1,30,train,30,1,0,80.0,0,12768.0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35970,0.070,600,913,test,548058,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35971,0.070,600,914,test,548059,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35972,0.070,600,915,test,548060,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35973,0.070,600,916,test,548061,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35974,0.070,600,917,test,548062,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35975,0.070,600,918,test,548063,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35976,0.070,600,919,test,548064,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35977,0.070,600,920,test,548065,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35978,0.070,600,921,test,548066,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35979,0.070,600,922,test,548067,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35980,0.070,600,923,test,548068,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35981,0.070,600,924,test,548069,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35982,0.070,600,925,test,548070,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35983,0.070,600,926,test,548071,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35984,0.070,600,927,test,548072,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35985,0.070,600,928,test,548073,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35986,0.070,600,929,test,548074,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35987,0.070,600,930,test,548075,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35988,0.070,600,931,test,548076,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35989,0.070,600,932,test,548077,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35990,0.070,600,933,test,548078,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35991,0.070,600,934,test,548079,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35992,0.070,600,935,test,548080,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35993,0.070,600,936,test,548081,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35994,0.070,600,937,test,548082,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35995,0.070,600,938,test,548083,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35996,0.070,600,939,test,548084,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35997,0.070,600,940,test,548085,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35998,0.070,600,941,test,548086,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35999,0.070,600,942,test,548087,1,0,NaN,1,NaN,0,0,0,1,0,0,1

In [20]:
# separate one hot train test data

one_hot_train_data = one_hot_train_test_data[one_hot_train_test_data.Flag=="train"]
one_hot_test_data = one_hot_train_test_data[one_hot_train_test_data.Flag=="test"]

one_hot_train_data.shape,train_data.shape,one_hot_test_data.shape,test_data.shape

((512087, 17), (512087, 12), (36000, 17), (36000, 10))

In [24]:
input_features

['Course_Domain', 'Course_Type', 'Short_Promotion', 'Public_Holiday']

In [27]:
cols_to_exclude = ['Competition_Metric', 'Course_ID', 'Day_No', 'Flag', 'ID','Long_Promotion', 'Sales','User_Traffic']

## Model Preparation

In [29]:
# convert train data to the xgboost train object

xgb_train_data = xgb.DMatrix(one_hot_train_data[one_hot_train_data.columns.difference(cols_to_exclude)],one_hot_train_data[target])
xgb_test_data = xgb.DMatrix(one_hot_test_data[one_hot_test_data.columns.difference(cols_to_exclude)])

In [30]:
# initial training params
train_params = {"objective" : "reg:linear", "eval_metric" : "rmse"}

## train model

In [32]:

xgb_model = xgb.train(params=train_params,dtrain=xgb_train_data)

[18:15:50] WARNING: d:\build\xgboost\xgboost-1.0.1.git\src\objective\regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.

## evaluate model on training data

In [42]:
np.sqrt(mean_squared_error(one_hot_train_data[target],
                           xgb_model.predict(xgb.DMatrix(one_hot_train_data[one_hot_train_data.columns.difference(cols_to_exclude)])))
       )

48.95879660720635

In [43]:
one_hot_train_data.Sales.describe()

count    512087.000000
mean        120.826924
std          54.355258
min           0.000000
25%          84.000000
50%         111.000000
75%         146.000000
max         682.000000
Name: Sales, dtype: float64

In [44]:
one_hot_test_data

,Competition_Metric,Course_ID,Day_No,Flag,ID,Long_Promotion,Public_Holiday,Sales,Short_Promotion,User_Traffic,Course_Domain_Business,Course_Domain_Development,Course_Domain_Finance & Accounting,Course_Domain_Software Marketing,Course_Type_Course,Course_Type_Degree,Course_Type_Program
0,0.007,1,883,test,883,1,0,NaN,1,NaN,0,1,0,0,1,0,0
1,0.007,1,884,test,884,1,0,NaN,1,NaN,0,1,0,0,1,0,0
2,0.007,1,885,test,885,1,0,NaN,1,NaN,0,1,0,0,1,0,0
3,0.007,1,886,test,886,1,0,NaN,1,NaN,0,1,0,0,1,0,0
4,0.007,1,887,test,887,1,0,NaN,0,NaN,0,1,0,0,1,0,0
5,0.007,1,888,test,888,1,0,NaN,0,NaN,0,1,0,0,1,0,0
6,0.007,1,889,test,889,1,0,NaN,0,NaN,0,1,0,0,1,0,0
7,0.007,1,890,test,890,1,0,NaN,0,NaN,0,1,0,0,1,0,0
8,0.007,1,891,test,891,1,0,NaN,0,NaN,0,1,0,0,1,0,0
9,0.007,1,892,test,892,1,0,NaN,0,NaN,0,1,0,0,1,0,0
10,0.007,1,893,test,893,1,0,NaN,0,NaN,0,1,0,0,1,0,0
11,0.007,1,894,test,894,1,0,NaN,0,NaN,0,1,0,0,1,0,0
12,0.007,1,895,test,895,1,0,NaN,0,NaN,0,1,0,0,1,0,0
13,0.007,1,896,test,896,1,0,NaN,1,NaN,0,1,0,0,1,0,0
14,0.007,1,897,test,897,1,0,NaN,1,NaN,0,1,0,0,1,0,0
15,0.007,1,898,test,898,1,0,NaN,1,NaN,0,1,0,0,1,0,0
16,0.007,1,899,test,899,1,0,NaN,1,NaN,0,1,0,0,1,0,0
17,0.007,1,900,test,900,1,0,NaN,1,NaN,0,1,0,0,1,0,0
18,0.007,1,901,test,901,1,0,NaN,0,NaN,0,1,0,0,1,0,0
19,0.007,1,902,test,902,1,0,NaN,0,NaN,0,1,0,0,1,0,0
20,0.007,1,903,test,903,1,0,NaN,0,NaN,0,1,0,0,1,0,0
21,0.007,1,904,test,904,1,0,NaN,0,NaN,0,1,0,0,1,0,0
22,0.007,1,905,test,905,1,0,NaN,0,NaN,0,1,0,0,1,0,0
23,0.007,1,906,test,906,1,0,NaN,0,NaN,0,1,0,0,1,0,0
24,0.007,1,907,test,907,1,0,NaN,0,NaN,0,1,0,0,1,0,0
25,0.007,1,908,test,908,1,0,NaN,0,NaN,0,1,0,0,1,0,0
26,0.007,1,909,test,909,1,0,NaN,0,NaN,0,1,0,0,1,0,0
27,0.007,1,910,test,910,1,0,NaN,1,NaN,0,1,0,0,1,0,0
28,0.007,1,911,test,911,1,0,NaN,1,NaN,0,1,0,0,1,0,0
29,0.007,1,912,test,912,1,0,NaN,1,NaN,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35970,0.070,600,913,test,548058,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35971,0.070,600,914,test,548059,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35972,0.070,600,915,test,548060,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35973,0.070,600,916,test,548061,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35974,0.070,600,917,test,548062,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35975,0.070,600,918,test,548063,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35976,0.070,600,919,test,548064,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35977,0.070,600,920,test,548065,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35978,0.070,600,921,test,548066,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35979,0.070,600,922,test,548067,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35980,0.070,600,923,test,548068,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35981,0.070,600,924,test,548069,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35982,0.070,600,925,test,548070,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35983,0.070,600,926,test,548071,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35984,0.070,600,927,test,548072,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35985,0.070,600,928,test,548073,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35986,0.070,600,929,test,548074,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35987,0.070,600,930,test,548075,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35988,0.070,600,931,test,548076,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35989,0.070,600,932,test,548077,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35990,0.070,600,933,test,548078,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35991,0.070,600,934,test,548079,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35992,0.070,600,935,test,548080,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35993,0.070,600,936,test,548081,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35994,0.070,600,937,test,548082,1,0,NaN,0,NaN,0,0,0,1,0,0,1
35995,0.070,600,938,test,548083,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35996,0.070,600,939,test,548084,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35997,0.070,600,940,test,548085,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35998,0.070,600,941,test,548086,1,0,NaN,1,NaN,0,0,0,1,0,0,1
35999,0.070,600,942,test,548087,1,0,NaN,1,NaN,0,0,0,1,0,0,1

In [45]:
test_predictions  = xgb_model.predict(xgb_test_data)
test_predictions

array([135.06668, 135.06668, 135.06668, ..., 142.7821 , 142.7821 ,
       142.7821 ], dtype=float32)

In [46]:
one_hot_test_data["Sales"] = test_predictions

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
one_hot_test_data.isnull().sum()

Competition_Metric                      120
Course_ID                                 0
Day_No                                    0
Flag                                      0
ID                                        0
Long_Promotion                            0
Public_Holiday                            0
Sales                                     0
Short_Promotion                           0
User_Traffic                          36000
Course_Domain_Business                    0
Course_Domain_Development                 0
Course_Domain_Finance & Accounting        0
Course_Domain_Software Marketing          0
Course_Type_Course                        0
Course_Type_Degree                        0
Course_Type_Program                       0
dtype: int64

In [49]:
test_submission = one_hot_test_data[["ID","Sales"]]
test_submission

           ID       Sales
0         883  135.066681
1         884  135.066681
2         885  135.066681
3         886  135.066681
4         887   93.063187
5         888   93.063187
6         889   93.063187
7         890   93.063187
8         891   93.063187
9         892   93.063187
10        893   93.063187
11        894   93.063187
12        895   93.063187
13        896  135.066681
14        897  135.066681
15        898  135.066681
16        899  135.066681
17        900  135.066681
18        901   93.063187
19        902   93.063187
20        903   93.063187
21        904   93.063187
22        905   93.063187
23        906   93.063187
24        907   93.063187
25        908   93.063187
26        909   93.063187
27        910  135.066681
28        911  135.066681
29        912  135.066681
...       ...         ...
35970  548058  142.782104
35971  548059  142.782104
35972  548060  106.117271
35973  548061  106.117271
35974  548062  106.117271
35975  548063  106.117271
35976  548064  106.117271
35977  548065  106.117271
35978  548066  106.117271
35979  548067  106.117271
35980  548068  106.117271
35981  548069  142.782104
35982  548070  142.782104
35983  548071  142.782104
35984  548072  142.782104
35985  548073  142.782104
35986  548074  106.117271
35987  548075  106.117271
35988  548076  106.117271
35989  548077  106.117271
35990  548078  106.117271
35991  548079  106.117271
35992  548080  106.117271
35993  548081  106.117271
35994  548082  106.117271
35995  548083  142.782104
35996  548084  142.782104
35997  548085  142.782104
35998  548086  142.782104
35999  548087  142.782104

[36000 rows x 2 columns]

In [51]:
test_submission["Sales"] = round(test_submission["Sales"])
test_submission

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

           ID  Sales
0         883  135.0
1         884  135.0
2         885  135.0
3         886  135.0
4         887   93.0
5         888   93.0
6         889   93.0
7         890   93.0
8         891   93.0
9         892   93.0
10        893   93.0
11        894   93.0
12        895   93.0
13        896  135.0
14        897  135.0
15        898  135.0
16        899  135.0
17        900  135.0
18        901   93.0
19        902   93.0
20        903   93.0
21        904   93.0
22        905   93.0
23        906   93.0
24        907   93.0
25        908   93.0
26        909   93.0
27        910  135.0
28        911  135.0
29        912  135.0
...       ...    ...
35970  548058  143.0
35971  548059  143.0
35972  548060  106.0
35973  548061  106.0
35974  548062  106.0
35975  548063  106.0
35976  548064  106.0
35977  548065  106.0
35978  548066  106.0
35979  548067  106.0
35980  548068  106.0
35981  548069  143.0
35982  548070  143.0
35983  548071  143.0
35984  548072  143.0
35985  548073  143.0
35986  548074  106.0
35987  548075  106.0
35988  548076  106.0
35989  548077  106.0
35990  548078  106.0
35991  548079  106.0
35992  548080  106.0
35993  548081  106.0
35994  548082  106.0
35995  548083  143.0
35996  548084  143.0
35997  548085  143.0
35998  548086  143.0
35999  548087  143.0

[36000 rows x 2 columns]

In [52]:
test_submission.to_csv("../data/test_predictions.csv",
                      header=True,
                      index=False)